<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar bg-body-tertiary" style="background-color: lightslategray;">
        <div class="container-sm-fluid container-lg">
            <a class="navbar-brand">AskPupkin</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Ask!</button>
            </form>
            <div class="d-flex justify content-between gap-5">
                <div class="d-flex flex-column justify-content-between">
                    <div>
                        <a href="/login.html">log in </a>
                        <a href="/register.html">register</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-sm-fluid container-lg ms-5 p-3">
        <div class="row">
            <div class="col-8">
                <article class="col-12 m-3 w-80">
                    <div class="row g-0">
                        <div class="col-3 pe-3">
                            <div class="border w-150 mb-3" style="height: 150px">
                                <img src="img.jpg" class="img-fluid rounded-start" alt="..."/>
                            </div>
                            <div class="input-group flex-lg-nowrap">
                                <input type="number" value="5" class="form-control" />
                            </div>
                        </div>
                        <div class="col-9 ps-2">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <h2>How to build a moonpark?</h2>
                                </h5>
                                <p class="card-text mt-2">
                                    Some text Some text Some text Some text Some text Some text Some text Some text Some text 
                                    Some text Some text Some text Some text Some text Some text Some text Some text Some text
                                    Some text Some text Some text Some text Some text Some text Some text Some text Some text 
                                    Some text Some text Some text Some text Some text Some text Some text Some text Some text 
                                    Some text Some text Some text Some text Some text Some text Some text Some text Some text 
                                    Some text Some text Some text Some text Some text Some text Some text Some text Some text 
                                    Some text Some text Some text Some text Some text Some text Some text Some text Some text 
                                </p>
                                <div class="row">
                                    <div class="col-8">
                                        <span>Tags</span>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <hr class="hr" />
                <article class="card mb-3 w-80">
                    <div class="row g-0">
                        <div class="col-3 p-2">
                            <div class="border w-100 mb-3" style="height: 100px">
                                <img src="img.jpg" class="img-fluid rounded-start" alt="..." />
                            </div>
                            <div class="input-group flex-nowrap">
                                <input type="number" value="5" class="form-control" />
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/question.html">Question?</a>
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                    <div class="mb-3">
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="FieldsetCheck">
                                          <label class="form-check-label" for="FieldsetCheck">
                                            Correct
                                          </label>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </article>
                
                <article class="card mb-3 w-80">
                    <div class="row g-0">
                        <div class="col-3 p-2">
                            <div class="border w-100 mb-3" style="height: 100px">
                                <img src="img.jpg" class="img-fluid rounded-start" alt="..." />
                            </div>
                            <div class="input-group flex-nowrap">
                                <input type="number" value="5" class="form-control" />
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/question.html">Question?</a>
                                </h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                    <div class="mb-3">
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" id="FieldsetCheck">
                                          <label class="form-check-label" for="FieldsetCheck">
                                            Correct
                                          </label>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </article>
                <hr class="hr" />
                <article class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Enter your answer here...</label>
                    <form class="d-flex mt-2" role="search">
                        <button class="btn btn-success" type="submit">Answer</button>
                    </form>
                </article>
            </div>
            <div class="col-4 p-5">
                <h3>Popular Tags</h3>
                <div class="row">
                    <div class="col">
                        <span class="badge text-bg-primary">Primary</span>
                        <span class="badge text-bg-secondary">Secondary</span>
                        <span class="badge text-bg-success">Success</span>
                        <span class="badge text-bg-danger">Danger</span>
                        <span class="badge text-bg-warning">Warning</span>
                        <span class="badge text-bg-info">Info</span>
                        <span class="badge text-bg-light">Light</span>
                        <span class="badge text-bg-dark">Dark</span>
                    </div>
                </div>
                <h3 class="mt-5">Best Members</h3>
                <div>
                    <a href="/member.html" class="d-block">Mr. Freeman</a>
                    <a href="/member.html" class="d-block">Mr. Freeman</a>
                    <a href="/member.html" class="d-block">Mr. Freeman</a>
                    <a href="/member.html" class="d-block">Mr. Freeman</a>
                    <a href="/member.html" class="d-block">Mr. Freeman</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="fixed-bottom p-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>